<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- <property name="LOG_DIR" value="D:/log"/>  -->

    <property name="LOG_DIR" value="/root/relog/log"/>

    <!-- 输出到控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%5level] %logger{36}
                [%file:%line] - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <!-- 输出到文件 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/relog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/xxx.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} -
                %msg%n
            </pattern>
        </layout>
    </appender>


    <logger name="com.zyx.log.RelogLog" level="INFO"
            additivity="false">
        <appender-ref ref="file"/>
    </logger>


    <root level="warn">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="file"/>
    </root>

</configuration>
